h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #615a4e;
    padding-right: 40px;
}

.card-img {
    height: 100%;
    width: 356px;
}